body {
  overflow-x: hidden;
}

* {
  transition: 100ms;
  margin: 0;
  padding: 0;
  outline: none;
}

section {
  width: 100vw;
  height: 100vh;
}

img {
  width: 100px;
  height: 100px;
}

a {
  border: black 2px solid;
  color: black;
  text-decoration: none;
}
a:hover {
  border-width: 3px;
}
a:active {
  border-width: 1px;
}
.left,
.right {
  width: 50vw;
  height: 90vh;
  float: left;
}

.character .left,
.character .right {
  height: 30vh;
}

.character .left,
.character .right {
  height: 30vh;
}

.top {
  height: 90vh;
  width: 100vw;
}

.bottom {
  width: 100vw;
  height: 10vh;
}
